@model List<clashclash.Models.CardModel>
<link rel="stylesheet" href="../wwwroot/css/site.css">

<body>
    <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <div class="tudo">	    
        <h2>Cartas :) </h2>
        <div class="Title">
            <h1>Clashdle</h1>
            <h2>Guess the character from the hit game Clash Royale </h2>
        </div>
        <div class="botHome">
            <a href="/Card" class="bots">Unlimited</a>
            <a href="/Daily" class="bots">Daily</a>

        </div>
    </div>      
</body>