@model List<clashclash.Models.CardModel>
<link rel="stylesheet" href="../wwwroot/css/site.css">

<body>
    <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <div class="tudo">	    
        <div class="Title">
            <h1>CLASHDLE</h1>
            <h2>Guess the character from the hit game Clash Royale </h2>
        </div>
        <div class="botHome">
            <a href="/Card" class="botAdiv"><p class="botP">Play</p><img src="/css/bottonStart.png" class="bots" /></a>
            <a href="/Daily" class="botAdiv"><p class="botP">Daily</p><img src="/css/bottonStart.png" class="bots" /></a>
        </div>
    </div>      
</body>