@model List<clashclash.Models.CardModel>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../wwwroot/css/site.css">

<body id="body">
    <ul class="slideshow" id="slideShow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <div class="tudo">	    
        <div class="Title">
            <h1>CLASHDLE</h1>
            <h2>Guess the character from the hit game Clash Royale </h2>
        </div>
        <div class="botHome">
            <a href="/Unlimited" class="botAdiv"><p class="botP">Play</p><img src="/css/bottonStart.png" class="bots" /></a>
            <a href="/Daily" class="botAdiv"><p class="botP">Daily</p><img src="/css/bottonStart.png" class="bots" /></a>
        </div>
    </div>      
</body>
<script>
    var segundosGlob = 0;
    function atualizarRelogio(){
        const agora = new Date();

        var horas = agora.getHours();
        var minutos = agora.getMinutes();
        var segundos = agora.getSeconds();
        segundosGlob = segundos;
        const horaAtual = `${horas}:${minutos}:${segundosGlob}`;

        console.log("A hora atual é:", horaAtual);

        if(segundosGlob == 59)
        {
            console.log("MUDo");
            document.getElementById("body").style.backgroundImage = "url('https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5bfa14d04ae3429879830ee4_home-hero.jpg')";
        }
    }
    const intervalo = 1000;
    setInterval(atualizarRelogio, intervalo);

    console.log(segundosGlob);
</script>