@model List<clashclash.Models.CardModel>
<link rel="stylesheet" href="../wwwroot/css/paginas.css">

<html>
    <head><title></title></head>
    <body>

        <h2>
            cu

        </h2>


    </body>
</html>
