body {
    background-image: url("../css/m72NFZ7.png");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#ganhou {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Começa invisível */
    }

    100% {
        opacity: 1; /* Termina visível */
    }
}

.CartaTD { /*Parte de baixo*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; /* Altura da CartaTD */
    width: 200px; /* Largura da CartaTD */
    background-color: lightyellow;
    border-radius: 10px;
    text-align: center;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 0.9s forwards; /* Aplica a animação */
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}

.CartaTH { /*Parte de cima*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; /* Altura da CartaTD */
    width: 200px; /* Largura da CartaTD */
    background-color: lightyellow;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 0.9s forwards; /* Aplica a animação */
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}

.BodyCartas{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap: 7vh
}

.Mae { /*engloba o TH e TD*/
    gap: 8.5vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 150px; /* Altura mínima */
}

/* Para garantir que a animação ocorra ao carregar a página */
.CartaTD:nth-child(1),
.CartaTH {
    animation-delay: 0.5s; /* Atraso para a CartaTH */
}

.CartaTD {
    animation-delay: 0.5s; /* Atraso para a CartaTD */
}

.barraPesquisa {
    margin-top: 30px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 25vw;
    height: 40px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.selectCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    height: 50px;
    width: 25vw;
}

.selectCard:hover {
    background-color: #808080;
}

.dropdown {
    position: absolute;
    z-index: 9999;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
    left: 37.4%;
    height:500px;
}

.cardImage {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vidasImg {
    width: 80px;
}

.ganhou {
    display: flex;
    position: fixed;
    width: 40vw;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b7cce8;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

    .ganhou p {
        text-align: center;
        font-size: 5rem;
        font-weight: bold;
        color: #000000;
        text-shadow: 2.5px 2.5px #000000;
    }


.perdeu {
    display: none;
    position: fixed;
    width: 40vw;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: brown;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

    .perdeu p {
        text-align: center;
        font-size: 5rem;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2.5px 2.5px #000000;
    }

.opcoes {
    padding-top: 50px;
}

.btOpcoes {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2.5px 2.5px #000000;
    padding: 15px 30px 15px 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    background: #006400;
    float: left;
}

    .btOpcoes:hover {
        color: #ffffff;
        background: #004400;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
